In [ ]:
# This is the routine that i used to convert the csvs of all years one by one

# 1. Read Dataframe from csv and specify datatypes

# 2. Optimize dataypes for memory usage

# 3. Fill all missing values in all columns with nanplaceholder
# This seemed necessary in order to be able to compare rows to count and remove duplicates. I encountered
# problems before: the comparison didnt work because NaN != NaN

# 4. Count number of identical occurences and write in new column, then remove dupes

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

# set option so that e.g. df.head() will show all columns and none are omitted 
pd.set_option('display.max_columns', None)

import os
print("Current working directory: ", os.getcwd())

# Specify the year
year = "2022"  # Change this to the desired year

# Define file paths based on the year
csv_file_path = f"..\\Data\\EU\\EU {year}.csv"
parquet_file_path = f"..\\Data\\EU\\EU {year}_dtypes.parquet"
parquet_nanplaceholder_path = f"..\\Data\\EU\\EU {year}_dtypes_nanplaceholder.parquet"
parquet_dupecounts_reduced_path = f"..\\Data\\EU\\EU {year}_dtypes_nanplaceholder_dupecounts_reduced.parquet"

# 1. Read Dataframe from csv and specify datatypes. "category" for all string values reduces memory usage a lot.
df = pd.read_csv(csv_file_path, dtype={
    'ID': 'Int32',
    'Country': 'category',
    'VFN': 'category',
    'Mp': 'category',
    'Mh': 'category',
    'Man': 'category',
    'MMS': 'category',
    'Tan': 'category',
    'T': 'category',
    'Va': 'category',
    'Ve': 'category',
    'Mk': 'category',
    'Cn': 'category',
    'Ct': 'category',
    'Cr': 'category',
    'r': 'Int32',
    'm (kg)': 'Int32',
    'Mt': 'Int32',
    'Enedc (g/km)': 'Int32',
    'Ewltp (g/km)': 'Int32',
    'W (mm)': 'Int32',
    'At1 (mm)': 'Int32',
    'At2 (mm)': 'Int32',
    'Ft': 'category',
    'Fm': 'category',
    'ec (cm3)': 'Int32',
    'ep (KW)': 'Int32',
    'z (Wh/km)': 'Int32',
    'IT': 'category',
    'Ernedc (g/km)': 'Float64',
    'Erwltp (g/km)': 'Float64',
    'De': 'Float64',
    'Vf': 'Int32',
    'Status': 'category',
    'year': 'Int32',
    'Date of registration': 'category',
    'Fuel consumption ': 'Float64',
    'ech': 'category',
    'RLFI': 'category',
    'Electric range (km)': 'Int32',
})

print(f"Dataframe for year {year} has been read from CSV and datatypes specified:")
print(df.info())

#----------------------------------------------------------------------------------
# 2. Optimize dataypes for memory usage

def optimize_dtypes(df):
    # Calculate total memory usage before optimization
    before_mem = df.memory_usage(deep=True).sum()
    print(f"Total memory usage before optimization: {before_mem / 1024**2:.2f} MB")
    
    # Downcast integer columns in place
    int_cols = df.select_dtypes(include='int').columns
    df[int_cols] = df[int_cols].apply(pd.to_numeric, downcast='integer')
    
    # Downcast float columns in place
    float_cols = df.select_dtypes(include='float').columns
    df[float_cols] = df[float_cols].apply(pd.to_numeric, downcast='float')
    
    # Calculate total memory usage after optimization
    after_mem = df.memory_usage(deep=True).sum()
    print(f"Total memory usage after optimization: {after_mem / 1024**2:.2f} MB")
    
optimize_dtypes(df)

# Save to parquet format (is able to store categorized data in its reduced format)
df.to_parquet(parquet_file_path)
print(f"Dataframe with optimized datatypes has been saved as parquet to {parquet_file_path}")


#-----------------------------------------------------------
# 3. Fill all missing values in all columns with nanplaceholder

# Check for values < -50 to see if nanplaceholder -99 is ok

# Select only numeric columns
numeric_df = df.select_dtypes(include=['number'])

# If there are no values less than -50 in any row of any column, proceed to fill NaNs with placeholders
if not (numeric_df < -50).any().any():
    nanplaceholder_num = -99
    nanplaceholder_str = str(nanplaceholder_num)

    # Handle categorical columns
    for col in df.select_dtypes(include=["category", "object"]).columns:
        # Add the placeholder to the category if it's not already present
        df[col] = df[col].cat.add_categories([nanplaceholder_str])
        # Fill NaNs with nanplaceholder_str
        df[col].fillna(nanplaceholder_str, inplace=True)

    # Handle numerical columns
    for col in df.select_dtypes(include='number').columns:
        # Fill NaNs with nanplaceholder_num
        df[col].fillna(nanplaceholder_num, inplace=True)
else:
    # Print warning message
    print("Warning: There are values less than -50 in the numeric columns. Cannot use -99 as NaN placeholder.")

    
# save again
df.to_parquet(parquet_nanplaceholder_path)
print(f"Dataframe NaNs have been filled with placeholder \"{nanplaceholder_num}\" and saved to {parquet_nanplaceholder_path}")


#-----------------------------------------------------------
# 4. Count number of identical occurences and write in new column, then remove dupes

# i) specify the columns to be grouped by, i.e the ones that have to be identical in order to be counted
# excluding "Date of Registration" and "ID" ==> they don't have to be identical 
group_cols = [col for col in df.columns if col != "Date of registration" and col != "ID"]

# ii) count number of members in the group, i..e. number of identical occurences and add as new column
df['#identical occurences'] = df.groupby(group_cols)['ID'].transform('count')  

print("Dataframe duplicate counts have been calculated.")

# iii) remove dupes
df = df.drop_duplicates(subset = group_cols, keep = "first")

# save again
df.to_parquet(parquet_dupecounts_reduced_path)
print(f"Duplicates have been dropped and dataframe saved to {parquet_dupecounts_reduced_path}")
#----------------------------------------------------------------------------------

print(df.info())
print(df.head())

Current working directory:  c:\Users\onepl\Desktop\Finanzen Beh√∂rden etc - Copy\Bewerbung\Fortbildungen\DS Bootcamp\Projekt CO2\Notebooks
Dataframe for year 2010-2015 has been read from CSV and datatypes specified:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2248123 entries, 0 to 2248122
Data columns (total 40 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    Int32
 1   Country               category
 2   VFN                   category
 3   Mp                    category
 4   Mh                    category
 5   Man                   category
 6   MMS                   category
 7   Tan                   category
 8   T                     category
 9   Va                    category
 10  Ve                    category
 11  Mk                    category
 12  Cn                    category
 13  Ct                    category
 14  Cr                    category
 15  r                     Int32
 16  m (kg)                Int32
 17  Mt                    Int32
 18  Enedc (g/km)          Int32
 19  Ewltp (g/km)          Int32
 20  W (mm)                Int32
 21  At1 (mm)              Int32
 22  At2 (mm)              Int32
 23  Ft                    category
 24  Fm                    category
 25  ec (cm3)              Int32
 26  ep (KW)               Int32
 27  z (Wh/km)             Int32
 28  IT                    category
 29  Ernedc (g/km)         Float64
 30  Erwltp (g/km)         Float64
 31  De                    Float64
 32  Vf                    Int32
 33  Status                category
 34  year                  Int32
 35  Date of registration  category
 36  Fuel consumption      Float64
 37  ech                   category
 38  RLFI                  category
 39  Electric range (km)   Int32
dtypes: Float64(4), Int32(15), category(21)
memory usage: 328.2 MB
None
Total memory usage before optimization: 343.51 MB
Total memory usage after optimization: 244.89 MB
Dataframe with optimized datatypes has been saved as parquet to ..\Data\EU\EU 2010-2015_dtypes.parquet
Dataframe NaNs have been filled with placeholder "-99" and saved to ..\Data\EU\EU 2010-2015_dtypes_nanplaceholder.parquet
Dataframe duplicate counts have been calculated.
Duplicates have been dropped and dataframe saved to ..\Data\EU\EU 2010-2015_dtypes_nanplaceholder_dupecounts_reduced.parquet
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2100728 entries, 0 to 2248122
Data columns (total 41 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     Int32
 1   Country                category
 2   VFN                    category
 3   Mp                     category
 4   Mh                     category
 5   Man                    category
 6   MMS                    category
 7   Tan                    category
 8   T                      category
 9   Va                     category
 10  Ve                     category
 11  Mk                     category
 12  Cn                     category
 13  Ct                     category
 14  Cr                     category
 15  r                      Int32
 16  m (kg)                 Int16
 17  Mt                     Int8
 18  Enedc (g/km)           Int16
 19  Ewltp (g/km)           Int8
 20  W (mm)                 Int16
 21  At1 (mm)               Int16
 22  At2 (mm)               Int16
 23  Ft                     category
 24  Fm                     category
 25  ec (cm3)               Int16
 26  ep (KW)                Int16
 27  z (Wh/km)              Int16
 28  IT                     category
 29  Ernedc (g/km)          Float32
 30  Erwltp (g/km)          Float32
 31  De                     Float32
 32  Vf                     Int8
 33  Status                 category
 34  year                   Int16
 35  Date of registration   category
 36  Fuel consumption       Float32
 37  ech                    category
 38  RLFI                   category
 39  Electric range (km)    Int8
 40  #identical occurences  int64
dtypes: Float32(4), Int16(9), Int32(2), Int8(4), category(21), int64(1)
memory usage: 247.1 MB
None
       ID Country  VFN              Mp              Mh  \
0  280060      UK  -99             -99         UNKNOWN
1  280060      GB  -99             -99         AUDI AG
2  280060      PL  -99     VW GROUP PC      VOLKSWAGEN
3  280060      HU  -99             -99  HYUNDAI ASSAN
4  280060      HU  -99  GENERAL MOTORS            OPEL

                                Man       MMS                  Tan  \
0                           UNKNOWN  VAUXHALL                  -99
1                               -99      AUDI                  -99
2                     VOLKSWAGEN AG       -99  E1*2001/116*0211*27
3  HYUNDAI ASSAN OTOMOTIV SANAYI VE   Hyundai  e11*2007/46*0192*04
4                      ADAM OPEL AG      Opel   e1*2007/46*0374*14

             T       Va                       Ve              Mk  \
0  A-H/MONOCAB     BF11              2A05ASXEGA7        VAUXHALL
1           B8  LCAKAQ1      QM6B4006R8K927MGEM0            AUDI
2           1T   CFHCAF  FD6FD62E0187MQS7N1VR0S0      VOLKSWAGEN
3          ELH    F5D31                   M65AZ1  HYUNDAI ASSAN
4         0G-A  CAHBC12               BA1N1FMHD5            Opel

                         Cn  Ct   Cr   r  m (kg)   Mt  Enedc (g/km)  \
0  ZAFIRA SRI XP 150 CDTI A  M1  -99  14    1613  -99           191
1              S4 T QUATTRO  M1  -99   3    1735  -99           -99
2                    TOURAN  M1  -99   1    1629  -99           131
3                      ix35  M1  -99   1    1500  -99           139
4     Insignia Limousine HB  M1  -99   4    1613  -99           114

   Ewltp (g/km)  W (mm)  At1 (mm)  At2 (mm)      Ft Fm  ec (cm3)  ep (KW)  \
0           -99    2703      1488      1512  diesel  M      1910      -99
1           -99     -99       -99       -99  petrol  M      2995      -99
2           -99    2675      1794      1794  DIESEL  M      1968      103
3           -99    2640      1585      1586  Diesel  M      1685       85
4           -99    2737      1587      1590  Diesel  M      1956      120

   z (Wh/km)   IT  Ernedc (g/km)  Erwltp (g/km)    De   Vf Status  year  \
0        -99  -99          -99.0          -99.0 -99.0  -99      P  2010
1        -99  -99          -99.0          -99.0 -99.0  -99      P  2011
2        -99  -99          -99.0          -99.0 -99.0  -99      P  2012
3        -99  -99          -99.0          -99.0 -99.0  -99      P  2013
4        -99  -99          -99.0          -99.0 -99.0  -99      P  2014

  Date of registration  Fuel consumption   ech RLFI  Electric range (km)  \
0                  -99              -99.0  -99  -99                  -99
1                  -99              -99.0  -99  -99                  -99
2                  -99              -99.0  -99  -99                  -99
3                  -99              -99.0  -99  -99                  -99
4                  -99              -99.0  -99  -99                  -99

   #identical occurences
0                      1
1                      1
2                      1
3                     30
4                      1

In [7]:
# in case needed to check intermediate output
df = pd.read_parquet(parquet_file_path)

In [8]:
# in case needed to check intermediate output
df = pd.read_parquet(parquet_nanplaceholder_path)

In [29]:
# in case needed to check intermediate output
df = pd.read_parquet(parquet_dupecounts_reduced_path)

In [13]:
# read first 1000 characters of csv to check content
with open(csv_file_path) as f: chars = f.read(1000)

In [14]:
print(chars)

ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,Ve,Mk,Cn,Ct,Cr,r,m (kg),Mt,Enedc (g/km),Ewltp (g/km),W (mm),At1 (mm),At2 (mm),Ft,Fm,ec (cm3),ep (KW),z (Wh/km),IT,Ernedc (g/km),Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption ,ech,RLFI,Electric range (km)
121150000,FR,IP-JDA1MTGJT4B_000-VF1-1,RENAULT-NISSAN-MITSUBISHI,RENAULT,RENAULT SAS,,e2*2001/116*0323*72,SR,DHE2,MT6UB390M0DG,DACIA,DUSTER,M1,M1,1,1337,1446,,126,,,,lpg,B,999,74,,e9 29 37,,1.7,,,P,2023,2023-03-27,7.8,Euro 6 AP,,
121150001,FR,IP-0093-JT1-1,SUBARU-SUZUKI-TOYOTA,TOYOTA,TOYOTA MOTOR EUROPE NV SA,,e6*2007/46*0322*05,XV7(EUM),AXVH71(E),AXVH71L-AEXDBW(2F),TOYOTA,TOYOTA CAMRY,M1,M1,1,1670,1782,,125,,,,petrol,H,2487,131,,e6 37,,0.8,,,P,2023,2023-07-21,5.5,Euro 6 AP,,
121150002,FR,IP-CX72_2020_00002-WF0-1,FORD,FORD WERKE GMBH,FORD-WERKE GMBH,,e13*2007/46*2387*06,LSK,C1LM2YX,5AAAZNAXVAA,FORD,MUSTANG MACH-E,M1,M1,1,2044,2187,,0,,,,electric,E,,221,172,,,,,,P,2023,2023-10-24,,AX,,440
121150003,FR,IP-HNS____ATN82444-VR3-0